@import "reset";
@import "global";


@import 'lego/header';


// @extend %Lato-700;
//-----------------------------------------

.banner {
    position: relative;
    z-index: 4;
    &__wrapper {
        position: absolute;
        top: 0;
        height: calc(100% + 50px);
        width: 100%;
        background-color: $db;
        z-index: -1;
        border-bottom: 340px solid $gr;
    }
}
.slider {
    position: relative;
    &__item {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 580px; //================================проверить надо ли?
        z-index: 2;
    }

    &__wrapper {
        z-index: 2;
    }
    &__text {
        margin-left: 100px;
        color: #fff;
        width: 40%;
        font-weight: 700;
        margin-top: 13%;
    }
    &__description {
        font-size: 18px;
        line-height: 24px;
    }
    &__title {
        font-size: 40px;
        line-height: 50px;
        text-shadow: 3px 4px 8px #000;
    }
}
.sl {
    &__arrow {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 50px;
        z-index: 3;
        cursor: pointer;
        &--prev {
            top: 25%;
        }
        &--next {
            bottom: 25%;
        }
        &:before {
            font-size: 36px;
            color: $gr;
            text-shadow: 3px 4px 8px #000;
        }
        &:active:before {
            color: #b4b4b4;
        }
    }

    &__dots {
        position: absolute;
        right: 150px;
        top: 42%;
        li {
            padding-bottom: 20px;
            button {
                font-size: 0;
                display: block;
                width: 10px;
                height: 10px;
                padding: 0;
                background-color: transparent;
                outline: oldlace;
                border-color: white;
                cursor: pointer;
            }
        }
    }
}
.slick-active {
    button {
        background-color: $gr!important;
    }
}
.article {
    background-color: #fff;
    &__inner {
        margin-top: 50px;
        padding: 50px 50px 50px 65px;
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 25px;
        text-transform: uppercase;
    }
    &__text {
        padding-bottom: 15px;
        font-family: "OpenSans-Regular", sans-serif;
    }
    &__list {
        padding-bottom: 15px;
    }
    &__item {
        padding-bottom: 7px;
        padding-left: 40px;
        position: relative;
        font-family: "OpenSans-Regular", sans-serif;
        &:before {
            content: "\e982";
            font-family: "icomoon";
            font-size: 12px;
            position: absolute;
            left: 10px;
            top: 3px;
        }
    }
}
.service {
    &__inner {
        padding: 55px 0 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
    }
    &__column {
        width: 23%;
        margin: 0 15px;
    }
    &__item {
        margin: 0 0 40px;
        background-color: #fff;
        position: relative;
        transition: 0.5s;
        &:hover {
            box-shadow: 2px 4px 15px 10px rgb(111, 111, 111);
        }

        &--0img {
            padding: 40px 0;
        }
        &--1img {
            .service__btn {
                margin-bottom: 40px;
            }
            .service__icon {
                left: 50%;
                transform: translate(-50%, -50%);
                top: 0;
            }
        }
        &--dark {
            background-color: $db;
            color: #fff;
            padding: 60px 0;
            .service__btn {
                color: #fff;
            }
            .service__icon {
                background-color: #fff;
                &::before {
                    color: #000;
                }
            }
        }
        &--1 {
            height: 422px;
        }
        &--2 {
            height: 440px;
        }
        &--3 {
            height: 428px;
        }
        &--4 {
            height: 495px;
        }
        &--5 {
            height: 327px;
        }
        &--6 {
            height: 468px;
        }
        &--7 {
            height: 337px;
        }
        &--8 {
            height: 493px;
        }
        &--9 {
            height: 165px;
        }
        &--10 {
            height: 255px;
        }
        &--11 {
            height: 515px;
            background-color: $db;
            color: #fff;
            .service__btn {
                color: #fff;
            }
        }
        &--12 {
            height: 420px;
        }
        &--13 {
            height: 355px;
        }
    }
    &__icon {
        position: absolute;
        width: 40px;
        height: 36px;
        background-color: #000;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
            font-size: 21px;
            color: #fff;
        }
    }
    &__flex {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: 36px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        font-family: "Play-Regular";
    }
    &__text {
        font-family: "Play-Regular";
        font-size: 15px;
        line-height: 26px;
        width: 80%;
        text-align: justify;
        color: #464646;
    }
    &__btn {
        color: #212121;
        text-transform: uppercase;
        border-left: 2px solid #d7d7d7;
        border-right: 2px solid #d7d7d7;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        font-size: 14px;
        padding: 10px 20px;
        transition: 1s;
        &:hover {
            color: $blue;
            border: 2px solid $blue;
        }
    }
    &__link {
        color: $blue;
        font-size: 24px;
        padding: 10px 20px;
        transition: .5s;
        &:hover {
            text-decoration: underline;
            color: $gr;
            font-size: 28px;
        }
    }
    &__img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 240px;
        width: 100%;
        margin-bottom: 0;
        position: relative;
        &--13 {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 80px;
            width: 79px;
        }
        .service__icon {
            top: 100%;
        }
    }
}
.footer {
    background-color: $db;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 55px 15px 40px;
    }
    &__item {
        font-size: 16px;
        line-height: 28px;
        color: #fff;
        &--1 {
            max-width: 362px;
        }
        &--3 {
            min-width: 365px;
        }
        & + & {
            margin-left: 40px;
            margin-right: 0;
        }
    }
    &__logo {
        width: 162px;
        height: 24px;
        margin-bottom: 30px;
    }
    &__adres {
        margin-bottom: 15px;
        &--icon {
            font-size: 24px;
            float: left;
            padding: 0 15px 25px 0;
        }

    }
    &__map {
        width: 100%;
        margin-top: auto;
    }
    &__title {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 23px;
    }
    &__list-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        ul:nth-of-type(2) {
            margin-left: 34px;
        }
    }
    &__list-item {
        white-space: nowrap;

    }
    &__list-link {
        font-size: 15px;
        line-height: 31px;
        color: $gr;
        transition: .3s;
        &:hover {
            color: $blue;
        }
    }
    &__social {
        margin-bottom: 35px;
        .global__icon {
            width: 75px;
            height: 75px;
        }
    }
    &__phone {
        color: $gr;
        display: block;
        margin-bottom: 18px;
        font-size: 22px;
        line-height: 45px;
        transition: .3s;
        &:hover,
        span:hover {
            color: $blue;
        }
    }
    &__phone span {
        font-family: "OpenSans-Regular";
        transition: .1s;
        padding-left: 15px;
    }
    &__line {
        width: 100%;
    }
    &__bottom {
        font-size: 14px;
        text-transform: uppercase;
        line-height: 22px;
        color: $gr;
        text-align: center;
        background-color: #17191c;
        padding: 10px 0;
        &--link {
            color: $blue;
            padding: 0 25px;
            border-left: 2px solid $gr;
            transition: .5s;
            &:hover {
                color: $gr;
            }
        }
        a:nth-of-type(1) {
            margin-left: -23px;
            border-left: 2px solid transparent;
        }
    }
}



