.footer {
    background-color: $db;
    color: $gr;

    &__container {
        display: flex;
        padding: 50px 15px;
    }

    &__logo {
        margin-bottom: 30px;
    }

    &__contact {
        max-width: 362px;
        margin-right: 100px;
    }

    &__location {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 30px;
    }

    &__icon {
        margin-right: 25px;
        fill: $gr;
    }

    &__title {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 700px;
        row-gap: 12px;
        margin-right: 100px;
    }

    &__item {
        width: 47%;
    }

    &__link {
        transition: color 0.3s;

        &:hover {
            color: $blue;
        }
    }

    &__address {
        max-width: 400px;
        margin-left: auto;
    }

    &__social {
        margin-bottom: 30px;
    }

    &__bottom {
        text-transform: uppercase;
        text-align: center;
        background-color: #17191c;
        padding: 10px 0;
    }

    &__bottom-link {
        color: $blue;
        padding: 0 25px;
        border-left: 2px solid $gr;
        transition: color 0.5s;
        
        &:hover {
            color: $gr;
        }

        &:first-child {
            border-left: 2px solid transparent;
            padding-left: 5px;
        }
    }
}

.contacts {
    border-bottom: 2px solid $gr;

    &__link {
        font-family: "Open Sans", sans-serif;
        display: flex;
        align-items: center;
        font-size: 22px;
        line-height: 2;
        transition: color 0.3s;
        margin-bottom: 18px;

        &:hover {
            color: $blue;

            .contacts__icon {
                fill: $blue;
            }
        }
    }

    &__icon {
        fill: $gr;
        margin-right: 15px;
        transition: fill 0.3s;
    }
}
