.hero {
    position: relative;
    z-index: 4;
    background-color: $gr;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        height: 50%;
        width: 100%;
        background-color: $db;
        z-index: -1;
    }

    &__inner {
        position: relative;
    }

    &__content {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 580px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 100px;
        color: #fff;
        font-weight: 700;

        &--1 {
            background-image: linear-gradient(90deg, rgba(255,255,255,0) 61%, rgba(0,0,0,1) 100%), url('../images/banner1.jpg');
        }
        
        &--2 {
            background-image: linear-gradient(90deg, rgba(255,255,255,0) 61%, rgba(0,0,0,1) 100%), url('../images/banner2.jpg');
        }
        
        &--3 {
            background-image: linear-gradient(90deg, rgba(255,255,255,0) 61%, rgba(0,0,0,1) 100%), url('../images/banner3.jpg');
        }
    }

    &__text {
        font-size: 18px;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-size: 40px;
        text-shadow: 3px 4px 8px #000;
        max-width: 600px;
    }
}

.sl {

    &__dots {
        position: absolute;
        right: 150px;
        top: 50%;
        transform: translateY(-50%);

        li {
            padding-bottom: 20px;

            button {
                font-size: 0;
                display: block;
                width: 10px;
                height: 10px;
                padding: 0;
                background-color: transparent;
                border: 1px solid $gr;
                position: relative;
                transition: background-color 0.5s, border-color 0.5s;

                &:after {
                    content: '';
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: outline 0.8s;
                }

                &:hover {
                    background-color: $blue;
                    border-color: transparent;
                }

                &:focus:after {
                    outline: 1px solid $gr;
                }

                &:active {
                    background-color: $gr;
                }
            }

            &.slick-active button {
                background-color: $gr;
            }
        }
    }

    &__btn {
        width: 45px;
        height: 45px;
        position: absolute;
        right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        transition: outline 0.8s;


        &--prev {
            top: 25%;
        }
        &--next {
            bottom: 25%;
        }

        &:hover {
            .sl__icon {
                fill: $blue;
            }
        }

        &:focus {
            outline: 1px solid $gr;
        }

        &:active {
            .sl__icon {
                transform: scale(0.8);
            }
        }
    }

    &__icon {
        fill: $gr;
        transition: fill 0.4s, transform 0.3s;
    }
}


